{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>password reset complete</title>
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
    <style>
       
        button{
            width: 90%;
            cursor: pointer;
        }
        label{
            padding: 4px;
            color: antiquewhite;
        }
    </style>

</head>
<body>
     <!--------------------
        page preloader
    --------------------->
    <div id="preloader"></div>
    
    <div class="form-info">
        PASSWORD RESET COMPLETE
    </div>
    <div>
        <p>Your Password Reset is Successful ! Log in with new crediantials again.</p>
        <p><a href="{% url 'userlogin' %}">LOGIN</a></p>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script src="{% static 'js/mainjs.js' %}"></script>

    
    
</body>
</html>